@import "tailwindcss";

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-color: #161616;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --font-mono: "JetBrains Mono Variable", monospace;
}

@layer components {
  .liquid-bg {
    @apply bg-linear-to-b from-white/40 via-5% via-white/20 to-white/15 backdrop-blur-[1px] border-t border-white/40 border-solid;
  }
}
